<h1> Show Accommodation Type </h1>

<p>
	<strong>Name:</strong>
	<%= @accommodation_type.name %>
</p>




<%= link_to 'Edit', edit_accommodation_type_path(@accommodation_type) %>
|
<%= link_to 'Back', accommodation_types_path %>