<h1> Show Location </h1>

<p>
	<strong>Phone:</strong>
	<%= @location.region %>
</p>

<p>
	<strong>Email:</strong>
	<%= @location.town_or_city %>
</p>



<%= link_to 'Edit', edit_location_path(@location) %>
|
<%= link_to 'Back', locations_path %>